<div class="container">
    <main class="mainform">
        <h1>SoundArea</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" id=""> <br> <br>
            <input type="password" name="password" id=""> <br> <br>
            <input type="submit" value="LogIn">
        </form>
    </main>
</div>