<div class="container">
    <main class="mainform">
        <h1>LogOut</h1>
        <form action="/logout" method="POST" enctype="multipart/form-data">
            <input type="submit" value="LogOut" />
        </form>
    </main>
</div>